* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', cursive;
    box-sizing: border-box;
}

body {
    font-size: 10px;
    background-image: url("bodyImg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    padding: 20px;
}

.heading {
    font-size: 3rem;
    color: white;
    margin-bottom: 1rem;
}

.sub_heading {
    color: whitesmoke;
    font-weight: 800;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.generate_btn {
    width: 15rem;
    padding: 1.5rem 0;
    margin: 2rem 0;
    background-color: #f44336;
    color: #fff;
    border-radius: 1rem;
    border: 0.2rem solid #f44336;
    transition: all 0.3s ease;
}

.generate_btn:hover {
    cursor: pointer;
    background-color: #ff7043;
    border-color: #ff7043;
    color: #fff;
}

.quote_container {
    padding: 2rem;
    border: 0.1rem solid #f44336;
    font-size: medium;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

#quote {
    color: #f44336;
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 1rem;
}

#author {
    color: #777;
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: right;
}
